{% extends "index.html" %}

{% block content %}
    <main class="container mt-4">
        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Energuru</h1>
            <p class="lead">Energuru is made up of </p>

        </div>

        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Model</h1>
            <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you
                scroll, this navbar remains in its original position and moves with the rest of the page.</p>

        </div>

        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Team</h1>
            <p class="lead">
                The dynamic team comprises two esteemed members, namely Aleksej Nazarovs and Jayden Wang, whose collaborative efforts, under the astute guidance of their esteemed professors Zona Kostic and Gabor Korodi, culminated in the inception of Energuru. Professor Gabor assumed the role of overseeing the team's advancements, with Aleksej dedicatedly spearheading the domains of Machine Learning and Data Cleaning, while Jayden adeptly focused on Visualizations and Web Applications. Together, their collective expertise amalgamated into the fruition of Energuru, showcasing a remarkable synergy of skillsets and ingenuity.</p>

        </div>

    </main>
{% endblock %}
