{% extends "index.html" %}

{% block title %}About{% endblock %}

{% block content %}
<style>
    h1 {
        margin-bottom: 1rem;
    }
</style>
    <main class="container mt-4">
        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Welcome to Energuru</h1>
            <p class="lead">Welcome to Energuru, a revolutionary tool aimed at making energy consumption and efficiency transparent, data-driven, and user-friendly. It predicts a dwelling unit's energy usage and suggests tailored energy reduction strategies.</p>
            <p class="lead">Energuru is built with Python using Flask web framework. It leverages a comprehensive dataset containing energy profiles of half a million residential buildings across the U.S. After extensive data cleaning, a predictive model was trained, using histogram-based gradient boosting algorithm with the learning rate and the base estimator’s depth being carefully tuned to maximize predictive ability on put-aside test data.</p>
            <p class="lead">The website is simple and intuitive. You are offered to fill out your information and you receive the result in seconds.</p>
            <p class="lead">So, let’s <a href="{{ url_for('form0') }}">get started</a>!</p>
            <p class="lead">The form is designed to specify each and every detail from location to lightbulbs used and in case you do it, the results will be most accurate. However, if you are interested in a quick analysis of particular features of your apartment and you are interested in approximate results, you can autofill the form with pre-defined inputs of either ‘efficient’, ‘inefficient’ or ‘average’ dwelling unit in terms of energy consumption. You can then specify the particular features you are interested in while being provided with detailed information on every parameter.</p>
            <p class="lead">Once the form is submitted, Energuru estimates the annual energy consumption in kilowatt-hours while presenting a plot showing where the most energy can be saved, providing particular values and the most efficient substitutes in your particular case. In future, financial savings estimates will be also available.</p>
            <p class="lead">Energuru has immense potential in fostering a more sustainable and energy-conscious property market. Whether you're a homeowner, a prospective buyer, or a real estate professional, Energuru can assist in making informed, eco-friendly decisions.</p>
        </div>

        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Team</h1>
            <p class="lead">Energuru was crafted by Aleksejs Nazarovs and Jayden Wang for their final project in the Prof. Zona Kostic’s CSCI S-14A 'Building Interactive Web Applications for Data Analysis' course at Harvard University, under the supervision of Gabor Korodi. Aleksejs focused on backend development and modeling, whereas Jayden was responsible for the website design and data visualization.</p>
            
            <p><b>Contact Information:</b></p>
            <ul>
              <li>Aleksejs Nazarovs: <a href="mailto:aln755@g.harvard.edu">aln755@g.harvard.edu</a> / <a href="mailto:a.nazarovs@outlook.com">a.nazarovs@outlook.com</a></li>
              <li>Jayden Wang: <a href="mailto:jaw0880@g.harvard.edu">jaw0880@g.harvard.edu</a> / <a href="mailto:jaydenwang0105@gmail.com">jaydenwang0105@gmail.com</a></li>
            </ul>
            <p>You are welcomed to take a look at our project's code on our <a href="https://github.com/Harvard-DCE-BIWADA/S14A2023-final-Energuru">GitHub repository</a>.</p> 
        </div>

    </main>
{% endblock %}
