{% extends "index.html" %}

{% block content %}
    <main class="container mt-4">
        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Energuru</h1>
            <p class="lead">
                Energuru is an interactive web platform with a sophisticated predictive model designed to assess the energy consumption of residential dwelling units, contingent upon their distinctive attributes and geographical location. The principal aim of Energuru centers on furnishing valuable assistance to homeowners, prospective buyers, and real estate professionals by furnishing estimations of the prospective energy consumption of a dwelling unit, while also delivering customized recommendations to ameliorate energy utilization. In doing so, Energuru seeks to foster transparency and impart data-driven insights that can contribute to informed negotiations, guide prudent investment choices, and cultivate a property market that embraces sustainability and energy consciousness.</p>

        </div>

        <div class="bg-body-tertiary p-5 rounded mt-2">
            <h1>Team</h1>
            <p class="lead">
                The dynamic team comprises two esteemed members, namely Aleksejs Nazarovs and Jayden Wang, whose collaborative efforts, under the astute guidance of their esteemed professors Zona Kostic and Gabor Korodi, culminated in the inception of Energuru. Professor Gabor assumed the role of overseeing the team's advancements, with Aleksejs dedicatedly spearheading the domains of Machine Learning and Data Cleaning, while Jayden adeptly focused on Visualizations and Web Applications. Together, their collective expertise amalgamated into the fruition of Energuru, showcasing a remarkable synergy of skillsets and ingenuity.</p>
            <h5>More information</h5>
            <p>Aleksejs Nazarovs - aln755@g.harvard.edu/a.nazarovs@outlook.com</p>
            <p>Jayden Wang - jaw0880@g.harvard.edu/jaydenwang0105@gmail.com</p>
            <p><a href="https://github.com/Harvard-DCE-BIWADA/S14A2023-final-Energuru/tree/main">GitHub Repository</a></p>
            
        </div>

    </main>
{% endblock %}
