{% extends "index.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<main class="container mt-4">
  <div class="bg-body-tertiary p-5 rounded mt-2">
    <h1>Graphing Using Plotly</h1>
    <p class="lead">Plotly is a data visualization library that allows you to create interactive and visually appealing graphs and charts in various programming languages, including Python, R, JavaScript, and Julia. It provides a user-friendly interface to create a wide range of graph types such as line charts, bar charts, scatter plots, histograms, 3D plots, and more. Plotly is widely used in data science, analytics, business intelligence, and various domains where interactive data visualization is essential for data exploration and communication of insights.</p>

    <a class="btn btn-lg btn-success" href="https://s14a2023inter-pex4989.slack.com/files/U05DFT1L0KE/F05KYFBCP6Z/jayden_plotly.pdf?origin_team=T05D6QENE6S&origin_channel=D05DK2YR859" role="button">Learn More &raquo;</a>
  </div>

  <div class="bg-body-tertiary p-5 rounded mt-2">
    <h1>The National Renewable Energy Laboratory</h1>
    <p class="lead">The National Renewable Energy Laboratory (NREL) is a world-renowned research institution dedicated to advancing the development and implementation of renewable energy technologies. Located in Golden, Colorado, USA, NREL is a part of the U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy. With a strong focus on innovation, NREL conducts cutting-edge research and development in various renewable energy fields, including solar, wind, geothermal, biomass, and hydrogen technologies. Their work spans from fundamental research to practical applications, striving to address global energy challenges, promote sustainability, and drive the transition towards a cleaner and more sustainable energy future. NREL's collaborative approach with industry, academia, and other research organizations has positioned it as a leading institution in the pursuit of clean and sustainable energy solutions.</p>
    <a class="btn btn-lg btn-success" href="https://www.nrel.gov/buildings/end-use-load-profiles.html" role="button">View NREL Webpage &raquo;</a>
  </div>

</main>
{% endblock %}