{% extends "index.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<style>




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  color: #333;
  font-family: sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.hover-container {
  position: relative;
}

.hover-target {
  position: relative;
  font-size: 2rem;
}

.hover-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 70%;
  left: 5%;
  width: 50ch;
  margin: min(1rem, 20px);
  font-size: .8rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5em;
  z-index: 42;
  transform: scale(0);
  transition: transform 200ms ease;
  transform-origin: 8% -10px;
}

.hover-target:hover + .hover-popup,
.hover-target:focus + .hover-popup,
.hover-popup:hover{
  transform: scale(1);
}

.hover-popup :not(:first-child) {
  margin-top: 1rem;
}

.hover-popup span {
  color: rgb(200, 20, 0);
  font-weight: 700;
}

.hover-popup::before {
/* This is the triangle/arrow */
  content: '';
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
}

.hover-popup::after {
  /* This is merely here to expand the hoverable area, as a buffer between the "Hover me" text and the popup. */
  content: '';
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: -1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}







  

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="tel"] {
  margin-bottom: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="number"] {
  margin-bottom: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin select {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>


    <main class="form-signin w-100 m-auto">
      <form method="POST" action="{{ url_for('result', user=status) }}">
        <h1>Update User</h1>
        <p class="important">
            Please update user details:
        </p>

        <div class="form-floating">
          <input type="tel" name='phone_number' class="form-control" id="floatingPhoneNumber" placeholder="123-456-7890" required value="{{ 1 }}">
          <label for="floatingPhoneNumber">Phone number (required)</label>
          <div class="hover-container">
  <p class="hover-target" tabindex="0">Hover me, or click the gray background and tab to me</p>
  <aside class="hover-popup">
    <h2>Additional info here</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora similique <span>quia corporis</span> libero. In dolor qui repudiandae ullam! Corporis minus veritatis consequuntur natus. Neque, quidem?</p>
  </aside>
</div>
        </div>

        <div class="form-floating">
          <input type="number" name='status' class="form-control" id="floatingStatus" placeholder="0" min="0" value="{{ 1 }}">
          <label for="floatingStatus">Status (optional)</label>
        </div>
        
        <div class="form-floating">
          <select name="is_admin" class="form-control" id="floatingIsAdmin" placeholder="">
            <option value="" {% if 1 is none %}selected{% endif %}>Select...</option>
            <option value="0" {% if 1 == False %}selected{% endif %}>No</option>
            <option value="1" {% if 1 == True %}selected{% endif %}>Yes</option>
          </select>
          <label for="floatingIsAdmin">Is admin (optional)</label>
        </div>
    
        <button class="btn btn-primary w-100 py-2" type="submit">Add</button>

      </form>
    </main>


{% endblock %}
