{% extends "index.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<style>

.form-signin {
  max-width: 430px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .form-floating #floatingFirstname {
  /* Specific styling for the input with id "floatingFirstname" */
  margin-bottom: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-floating #floatingUsername {
  /* Specific styling for the input with id "floatingFirstname" */
  margin-bottom: 12px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


.form-signin input[type="number"] {
  margin-bottom: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin select {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

    <main class="form-signin w-100 m-auto">
      <form method="POST" action="{{ url_for('result', user=status) }}">
        <h1>Form</h1>
        <p class="important">
            Please enter your first name and (unique) username:
        </p>

        <div class="form-floating">
          <input type="text" name='firstname' class="form-control" id="floatingFirstname" placeholder="John" required value="{{ None }}">
          <label for="floatingFirstname">Name</label>
        </div>

        <div class="form-floating">
          <input type="text" name='username' class="form-control" id="floatingUsername" placeholder="john_doe" required value="Double, Clear, Non-metal, Air, Exterior Clear Storm">
          <label for="floatingUsername">Username</label>
        </div>

        <p class="important">
            Please provide the property's details:
        </p>

        <div class="form-floating">
          <input type="number" name='status' class="form-control" id="floatingStatus" placeholder="0" min="0" value="{{ 1 }}">
          <label for="floatingStatus">Status (optional)</label>
        </div>
        
        <div class="form-floating">
          <select name="is_admin" class="form-control" id="floatingIsAdmin" placeholder="">
            <option value="" {% if 1 is none %}selected{% endif %}>Select...</option>
            <option value="0" {% if 1 == False %}selected{% endif %}>No</option>
            <option value="1" {% if 1 == True %}selected{% endif %}>Yes</option>
          </select>
          <label for="floatingIsAdmin">Is admin (optional)</label>
        </div>
    
        <button class="btn btn-primary w-100 py-2" type="submit">Add</button>

      </form>
    </main>


{% endblock %}
